<div class="sidebar-group">
  <div>
    <img src="icons/view-dashboard.svg"/>
    <div class="logo-text">Dashboard</div>
  </div>
</div>
<div class="sidebar-group">
  <div>
    <div>
      <img src="icons/home.svg"/>
    </div>
    <div>Home</div>
  </div>
  <div>
    <div>
      <img src="icons/card-account-details-outline.svg"/>
    </div>
    <div>Profile</div>
  </div>
  <div>
    <div>
      <img src="icons/message-reply.svg"/>
    </div>
    <div>Messages</div>
  </div>
  <div>
    <div>
      <img src="icons/clock-time-three.svg"/>
    </div>
    <div>History</div>
  </div>
  <div>
    <div>
      <img src="icons/note-multiple.svg"/>
    </div>
    <div>Tasks</div>
  </div>
  <div>
    <div>
      <img src="icons/account-group.svg"/>
    </div>
    <div>Communities</div>
  </div>
</div>
<div class="sidebar-group">
  <div>
    <div>
      <img src="icons/cog.svg"/>
    </div>
    <div>Settings</div>
  </div>
  <div>
    <div>
      <img src="icons/help-box.svg"/>
    </div>
    <div>Support</div>
  </div>
  <div>
    <div>
      <img src="icons/shield-check.svg"/>
    </div>
    <div>Privacy</div>
  </div>
</div>
